<div class="row pl-3 pr-3">
  <div class="mx-auto pb-2">
    <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#AgregarArea" ><i class="fas fa-clone"></i> Agregar habitación</button>
    <button type="button" class="btn btn-sm btn-outline-warning"><i class="fas fa-th-list"></i> Vista general</button>
    <button type="button" id="salvarMovimientos" class="btn btn-sm btn-outline-info"><i class="fas fa-arrows-alt"></i> Sincronizar movimientos</button>
  </div>
  <div id="containment-wrapper" style="width: 100%; height: 78vh; min-height: 400px;">
    <div id="mapa" style="border-radius: 10px; border: 2px solid #333333;">

    </div>
  </div>
  <!-- AgregarArea -->
  <div class="modal fade" id="AgregarArea" tabindex="-1" role="dialog" aria-labelledby="AgregarAreaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AgregarAreaLabel"><i class="fas fa-plus-square"></i> Agregar habitación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  		<div class="input-group mb-3">
  		  <div class="input-group-prepend">
  			<span class="input-group-text">Nombre:</span>
  		  </div>
  		  <input id="nombreArea" type="text" class="form-control" placeholder="Nombre o número de la habitación" aria-label="Nombre o número de la habitación">
  		</div>
  		<div class="input-group mb-3">
  		  <div class="input-group-prepend">
  			<span class="input-group-text">Estado actual:</span>
  		  </div>
        <select id="estado" class="form-control">
  		    <option value="1" selected>Disponible</option>
  		    <option value="2">Ocupada</option>
  		    <option value="0">No disponible</option>
  		  </select>
  		</div>
  		<div class="input-group mb-3">
  		  <div class="input-group-prepend">
  			<span class="input-group-text">Equipos activos en la habitación:</span>
  		  </div>
  		  <select id="equipos" class="form-control" style="width: 100%;" multiple="multiple">
  		    <option>Antena número 1</option>
  		    <option>Switch Cisco 2660</option>
  		    <option>Antena de largo alcance</option>
  		  </select>
  		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id="AgregarAreaButton" type="button" class="btn btn-primary">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- CambiarEstado -->
  <div class="modal fade" id="CambiarEstado" tabindex="-1" role="dialog" aria-labelledby="CambiarEstadoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CambiarEstadoLabel"><i class="fas fa-sync-alt"></i> Cambiar estado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      		<div class="input-group mb-3">
      		  <div class="input-group-prepend">
      			<span class="input-group-text">Nuevo estado:</span>
      		  </div>
            <select id="nuevoEstado" class="form-control">
      		    <option value="1" selected>Disponible</option>
      		    <option value="2">Ocupada</option>
      		    <option value="0">No disponible</option>
      		  </select>
      		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button id="CambiarEstadoButton" type="button" class="btn btn-primary">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script>

    const socket = io();

    var hotel_id = {{ hotel.id }};
    var width = {{ hotel.width }};
    var height = {{ hotel.height }};
    var left = {{ hotel.left }};
    var _top = {{ hotel.top }};
    var hotel_mapa = "{{ hotel.mapa }}";

    var allAreas = null;

    $(window).load(function() {

      socket.emit('init', {

          hotel_id: hotel_id

      });

      $("#equipos").select2({
        placeholder: 'Ninguno',
        allowClear: true
      });

    });

  </script>
  <script src="/js/dashboard/context-menu.js"></script>
  <script src="/js/dashboard/mapa.js"></script>
  <script src="/js/dashboard/areas.js"></script>
</div>
